<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    
    
</head>
<style>
  body{
    background-color: black;
  }
  table, th, td {
  border: 1px solid wheat;
}
table {
  width: 100%;
}

th {
  height: 50px;
}
th {
  text-align: left;
}
</style>
<body>
  <% produit.forEach(function(row){ %>
  <table style="width:100%">
    <tr>
      <th> <%= row.id %></th>
      <th><%= row.fournisseur %></th>
      <th><%= row.produit %></th>
      <th><%= row.numrayon %></th>
    </tr>
    <tr>
      <td><%= row.id %></td>
      <td><%= row.fournisseur %></td>
      <td><%= row.produit %></td>
      <td><%= row.numrayon %></td>
    </tr>
   
  </table>
  <% }); %>
</body>
</html>
